/* Reset some default styling */
body, h1, h2, h3, p, label, input, select, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Applying some basic styling to the form */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling the form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f36f9a; 
    
}

/* Styling the form inputs */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling the submit button */
button[type="submit"] {
    background-color: #f36f9a; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e64d85; 
}

/* Styling the checkbox */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Styling the form section */
section {
    margin-bottom: 20px;
}
